/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package tema3;

/**
 *
 * @author nico_
 */
public class Triangulo {
    private double cateto1;
    private double cateto2;
    private double hipotenusa;
    private String colorRelleno;
    private String colorLinea;
    
    public Triangulo(double a,  double b, double c){
        a = this.cateto1;
        b = this.cateto2;
        c = this.hipotenusa; 
    }

    /**
     * @return the cateto1
     */
    public double getCateto1() {
        return cateto1;
    }

    /**
     * @param cateto1 the cateto1 to set
     */
    public void setCateto1(double cateto1) {
        this.cateto1 = cateto1;
    }

    /**
     * @return the cateto2
     */
    public double getCateto2() {
        return cateto2;
    }

    /**
     * @param cateto2 the cateto2 to set
     */
    public void setCateto2(double cateto2) {
        this.cateto2 = cateto2;
    }

    /**
     * @return the hipotenusa
     */
    public double getHipotenusa() {
        return hipotenusa;
    }

    /**
     * @param hipotenusa the hipotenusa to set
     */
    public void setHipotenusa(double hipotenusa) {
        this.hipotenusa = hipotenusa;
    }

    /**
     * @return the colorRelleno
     */
    public String getColorRelleno() {
        return colorRelleno;
    }

    /**
     * @param colorRelleno the colorRelleno to set
     */
    public void setColorRelleno(String colorRelleno) {
        this.colorRelleno = colorRelleno;
    }

    /**
     * @return the colorLinea
     */
    public String getColorLinea() {
        return colorLinea;
    }

    /**
     * @param colorLinea the colorLinea to set
     */
    public void setColorLinea(String colorLinea) {
        this.colorLinea = colorLinea;
    }
    
    public double calcularArea(double a, double b, double c){
        double s = (a+b+c)/2;
        double area = Math.sqrt(s*(s-a)*(s-b)*(s-c));
        return area;
    }
    
    public double calcularPerimetro(double a, double b, double c){
        double p = a+b+c;
        return p;
    }
}
